html {
      font-family: sans-serif;
      background: #070707;
    }
    .circle{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: #ee093b;
        z-index: -10;
        left: 350px;
        top: 10px;
position: absolute;
    }

    .inbox {
      max-width: 400px;
      margin: 50px auto;
      background: rgb(240, 197, 197);
      border-radius: 5px;
      box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
      position: relative;
    }

    .item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #F1F1F1;
    }

    .item:last-child {
      border-bottom: 0;
    }


    input:checked + p {
      background: #F9F9F9;
      text-decoration: line-through;
    }

    input[type="checkbox"] {
      margin: 20px;
    }

    p {
      margin: 0;
      padding: 20px;
      transition: background 0.2s;
      flex: 1;
      font-family: 'permanent marker', cursive;
      font-size: 20px;
      font-weight: 200;
      border-left: 1px solid #D1E2FF;
    }